// .denoflare
{
    "$schema": "https://raw.githubusercontent.com/skymethod/denoflare/v0.5.8/common/config.schema.json",
    "scripts": {
        "hello": {
            "path": "index.ts",
            "localPort": 8000
        }
    },
    "profiles": {
        "account1": {
            "accountId": "XXXXXX",
            "apiToken": "XXXXXX"
        }
    }
}
